body {
	background-color: #fff;
	margin: 20px; 
	padding: 0; 
}

body, td {
	font-family: verdana;
	font-size: 13px;
	line-height: 18px;
}

table {
    margin-left: 3em;
    text-align: left;
    padding: 2px;
}

th {
	font-family: verdana;
	font-size: 13px;
        padding-left: 5px;
        padding-right: 5px;
	line-height: 18px;
}

.athead {
	font-family: verdana;
	font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;    
        padding-bottom: 8px;
}

a {
	text-decoration: none;
	color: #777;
}

a:hover {
	color: #999;
}

p {
	margin-bottom: 12px;
	margin-top: 12px;
}

form p {
	margin-bottom: 8px;
	margin-top: 8px;
}

li p {
	margin-bottom: 6px;
	margin-top: 6px;
}

form, h1, h2 {
	margin: 0px;
}

h1 {
	font-size: 18px;
	line-height: 28px;
}

h2 {
	font-size: 15px;
	line-height: 25px;
}

.spacer_right {
        text-align: right;
	float: right;
}

.container a {
  padding: .2em;
}

@media (pointer: coarse) {
  .container a {
    padding: .8em;
  }
}
